<div style="text-align: center;color: rgb(194, 9, 9); ">
    <h3 style="font-weight: bolder !important">Om Fracture and Trauma Hospital</h3>
</div>
<style>
    .h-items a{
        width: 13%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: .5%;
        margin-bottom: .5%;
        color: white !important;
        font-weight: bold !important;
    }
</style>
<div class="h-items" style="display: flex; justify-content: center;">
    <a class="btn btn-info" href="/appointments/show/today">Appointments</a>
    <a class="btn btn-info" href="/patients/new">Registration</a>
    <a class="btn btn-info" href="/appointments/show/old">Old Appointments</a>
</div>