<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    body{
        height: 100vh;
    }
    table {
    border-collapse: collapse;
    width: 100%;
}
thead,th{
    position: sticky;
    top: 0;
}
th, td {
    border: 1px solid #ddd !important;
    padding: 8px;
    text-align: left;
    font-size: small;
}
th {
    background-color: #f2f2f2;
}
.searchBar{
    padding-top: 1%;
    height: 10%;
    border-bottom: 2px dashed black;
    padding-left: 2%;
}
.main-body{
    height: 100%;
}
.receiptsTable{
    margin-top: 1%;
    height: 73%;
    overflow: auto;
}
.loader{
    position: fixed;
    top: 40%;
    left: 45%;
    display: none
}
</style>
<body>
    <div class="main-body">
        <header>
            <%-include('_header')%>
        </header>
        <div class="searchBar">
            <input type="radio" name="searchType" id="search_id" onchange="changeInputs()"> &nbsp;&nbsp;<b>Search By Receipt No</b>
            <input type="radio" name="searchType" id="search_name" onchange="changeInputs()" checked> &nbsp;&nbsp;<b>Search By Date</b>
            <input type="text" name="" id="searchValue">
            <b>Start Date : </b><input type="date" name="" id="startDate">
            <b>End date : </b><input type="date" name="" id="endDate">
            <input class="btn btn-success" type="submit" value="Search" onclick="getReceipts()">
        </div>
        <div class="receiptsTable">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Address</th>
                        <th>Get Receipt</th>
                    </tr>
                </thead>
                <%-include('_loader')%>
                <tbody id="receiptsTableBody">
                    
                </tbody>
            </table>
        </div>
    </div>
    <script src="/js/findReceipt.js"></script>
</body>
</html>