<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipts</title>
    <link rel="stylesheet" href="/css/receiptHome.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css" integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="main-container">
        <header>
            <%-include('_header')%>
        </header>

        <div class="searchBar">
            <div>
                <input onchange="changePatientDataInputs()" type="radio" name="searchType" id="searchType_id" checked> <b>Search by Id</b>
                <input onchange="changePatientDataInputs()" style="margin-left: 10%;" type="radio" name="searchType" id="searchType_fill"> <b>Manual Fill</b>
            </div>
            
            <div>
                <input type="text" name="" id="idToSearch">
                <button class="btn btn-info" id="searchButton" onclick="searchById()">Search</button>
            </div>
            
        </div>
        <div class="patientData">
            <div class="patient-data">
                <div class="form-floating mb-2 test-data">
                    <input type="text" id="Pname" class="form-control" id="floatingInput" placeholder="name@example.com" >
                    <label for="">Patient Name</label>
                </div>
            </div>
            <div class="patient-data">
                <div class="form-floating mb-2 test-data">
                    <input type="Number" id="Age" class="form-control" id="floatingInput" placeholder="name@example.com" >
                    <label for="">Age</label>
                </div>
            </div>
            <div class="patient-data">
                <div class="form-floating mb-2 test-data">
                    <input type="text" id="Gender" class="form-control" id="floatingInput" placeholder="name@example.com" >
                    <label for="">Gender</label>
                </div>
            </div>
            <div class="patient-data">
                <div class="form-floating mb-2 test-data">
                    <input type="text" id="Address" class="form-control" id="floatingInput" placeholder="name@example.com" >
                    <label for="">Address</label>
                </div>
            </div>
            <div class="patient-data">
                <div class="form-floating mb-2 test-data">
                    <input type="text" id="mob" class="form-control" id="floatingInput" placeholder="name@example.com" >
                    <label for="">Mobile No</label>
                </div>
            </div>
        </div>
        <div class="medContainer">
            <div class="medItems">
                <label style="font-size: 26px;font-weight: bold;">Receipt Items</label>
                <div style="height: 90%;overflow: auto;">
                    <table >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Purchase Date</th>
                                <th>Expiry Date</th>
                                <th>Total</th>
                                
                            </tr>
                        </thead>
                        <tbody id="itemsTableBody">
                            <%for(let i=0;i<0;i++){%>
                                <tr>
                                    <td>${++itemsCount}</td>
                                    <td>${medicine}</td>
                                    <td>${dosage}</td>
                                    <td>${when}</td>
                                    <td>${frequency}</td>
                                    <td>${frequency}</td>
                                    <td>${notes is a big line of comment and check whether its very long}</td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                </div>
                
                <div class="actionButtons">
                    <button class="btn btn-success" onclick="saveReceiptData()">Save & Generate Receipt</button>
                </div>
            </div>
            <div class="medForm">
                <label style="font-size: 26px;font-weight: bold;border-bottom: 2px dotted black;">Add Items</label>

                <div class="input-group input-group-sm mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Item</span>
                    </div>
                    <input type="text" id="Item" class="form-control" >
                </div>

                <div class="input-group input-group-sm mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">price</span>
                    </div>
                    <input type="text" id="price" class="form-control" >
                </div>

                <div class="input-group input-group-sm mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                    </div>
                    <input type="text" id="Qty" class="form-control" >
                </div>

                <div class="input-group input-group-sm mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Purchase date</span>
                    </div>
                    <input type="date" id="Pdate" class="form-control" >
                </div>

                <div class="input-group input-group-sm mt-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">Expiry Date</span>
                    </div>
                    <input type="date" id="Edate" class="form-control" >
                </div>
                <div class="mt-4" >
                    <button style="width: 60%;" class="btn btn-primary ml-2 mr-2" onclick="addItem()">Add Item</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/receiptHome.js"></script>
</body>
</html>